body {
  background-color: blanchedalmond;
}

#app {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px;
  padding: 20px;
}
  
.buttons {
  display: flexbox;
  justify-content: center;
}
